<div class="flex flex-col font-mono w-2/3">
  <h1 class="font-extrabold py-5">New movement</h1>

  <%= render "form", movement: @movement %>

  <%= link_to "Back to movements", movements_path, class:"text-center p-3 rounded bg-blue-600 text-white hover:bg-green-dark focus:outline-none my-3" %>
</div>