<div class="flex flex-col font-mono w-2/3">
  <h1 class="max-w-lg mx-auto -mt-16 text-left max-w-sm overflow-hidden py-5 font-extrabold">Import Movements</h1>

  <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700">
    <%= render 'form' %>
  </div>
</div>